<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 {% if cat_menu %}
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categories
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">

              {% for item in cat_menu%}
              <a class="dropdown-item" href="{% url 'category' item|slugify %}">{{item }}</a>
                  <br/>
              {% endfor %}

          </div>
      </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'category-list' %}">Categorias</a>
        </li>
      {% endif %}

</body>
</html>