{% extends 'base.html' %}
{% block content %}

    <h1>Post</h1>
        <ul>
            {% for x in object_list %}
                <li><a href="{% url 'detalhes' x.pk %}"> {{ x.title }}</a>
                    - <a href="{% url 'category' x.category|slugify %}"> {{ x.category }}</a>
                    - {{ x.author.first_name }}
                    {{ x.author.last_name }} -
                    {{ x.post_date }}<small>

                        {% if user.is_authenticated %}
                            {% if user.id == x.author.id %}
                                <a href="{% url 'update' x.pk %}">(Edit) </a>
                                <a href="{% url 'delete_post' x.pk %}">(Delete)</a>
                            {% endif %}
                        {% endif %}
                    </small>
                    {{ x.author.email }}<br/>
                {{ x.body|slice:"200"|safe }}
            {% endfor %}

        </ul>

{% endblock %}